.header {
  height: 125px;
  background-color: #253C88 !important;
}

.toolbar {
  display: grid !important;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100px;
  margin: 10px;
  transition: transform 50ms ease-out;
}

.logo-container {
  position: relative;
}

.hov {
  position: absolute;
  left: 0;
  transition: opacity 500ms;
  opacity: 0;
}

.hov:hover {  
  opacity: 0.5;
}

.logo img {
  max-height: 100px;
}

.logo:active {
  transform: translate(0%, 5%);
}