body {
  margin: 0;
  font-family: 'Roboto';
}

*, *::before, *::after {
  box-sizing: border-box;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 48%;
}